body {
    background-color: darkslategrey;
    color: lightsteelblue;
    text-align: center;
}

h1 {
    margin: 0;
    margin-bottom: 3%;
}

button {
    background-color: darkslategrey;
    color: lightsteelblue;
    border-color: lightsteelblue;
    transition-duration: 50ms;
    width: 50%;
    height: 5vh;
    justify-content: space-between;
    margin-bottom: 3%;
}

button:hover {
    background-color: lightsteelblue;
    color: darkslategrey;
    border-color: darkslategrey;
}

#contentt {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 50%;
}

#QuickLaunchList {
    display: grid;
    place-items: center;
}
