body {
    background-color: darkslategrey;
    color: lightsteelblue;
    text-align: center;
}

h1 {
    margin: 0;
    margin-bottom: 3%;
}

button {
    background-color: darkslategrey;
    color: lightsteelblue;
    border: lightsteelblue solid 2px;
    transition-duration: 50ms;
    width: 50%;
    height: 5vh;
    justify-content: space-between;
    margin-bottom: 3%;
}

button:hover {
    background-color: lightsteelblue;
    color: darkslategrey;
    border: darkslategrey solid 2px;
}

#contentt {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 50%;
}

#QuickLaunchList {
    display: grid;
    place-items: center;
}

#addDiv {
    border: lightsteelblue solid 2px;
}

#addQuickLaunch {
    font-size: large;
    height: 5vh;
    width: 5vh;
    margin-bottom: 1%;
    margin-top: 0.5%;
}

#quickLaunchLink {
    font-size: large;
    height: calc(5vh - 6px);
    background-color: darkslategrey;
    color: lightsteelblue;
    border: lightsteelblue solid 2px;
    margin-top: 1%;
    margin-bottom: 0.5%;
}

#quickLaunchName {
    font-size: large;
    height: calc(5vh - 6px);
    background-color: darkslategrey;
    color: lightsteelblue;
    border: lightsteelblue solid 2px;
    margin-top: 1%;
    margin-bottom: 0.5%;
}